# SPDX-License-Identifier: Apache-2.0
CONFIG_SOC_SERIES_NXP_IMX8ULP=y
CONFIG_SOC_NXP_IMX8ULP=y
CONFIG_BOARD_NXP_ADSP_IMX8ULP=y

CONFIG_GEN_ISR_TABLES=y
CONFIG_GEN_IRQ_VECTOR_TABLE=n
CONFIG_XTENSA_SMALL_VECTOR_TABLE_ENTRY=y
