# Copyright (c) 2023 NXP
# SPDX-License-Identifier: Apache-2.0

if SOC_SERIES_NXP_IMX8ULP

config SOC_SERIES
	string
	default "IMX8ULP"

config SOC_TOOLCHAIN_NAME
	string
	default "nxp_imx8ulp_adsp"

config SOC
	string
	default "nxp_imx8ulp"

config SYS_CLOCK_HW_CYCLES_PER_SEC
	default 800000000 if XTENSA_TIMER

config SYS_CLOCK_TICKS_PER_SEC
	default 50000

config DYNAMIC_INTERRUPTS
	default y

config LOG
	default n

endif # SOC_SERIES_NXP_IMX8ULP
